### Minahil Chaudhary
## Week7 10/04/2022 - 10/11/2022

### Python list comprehension

# List Comprehensipm Logic

In [2]:
s = 'hello'
lst = []

for c in s:
    lst.append(c)
    
    
    
    
lst

['h', 'e', 'l', 'l', 'o']

In [3]:
lst = [c for c in s]
lst

['h', 'e', 'l', 'l', 'o']

In [4]:
lst = []

for n in range(10):
    lst.append(n**2)
    
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [5]:
txns = [1.09, 23.56, 67.89, 34.56]
TAX_RATE = .08

final_price = [(i * TAX_RATE) + i for i in txns]
final_price

[1.1772, 25.444799999999997, 73.3212, 37.3248]

In [6]:
len(lst)

10

In [7]:
prices = [1.25, -9.45, 10.22, 3.78, -5.92, 1.16]
new_prices = [v for v in prices if v >= 0]
new_prices

[1.25, 10.22, 3.78, 1.16]

In [8]:
new_prices = [v if v >= 0 else 0 for v in prices]
new_prices

[1.25, 0, 10.22, 3.78, 0, 1.16]

In [12]:
lst = ['Even' if num%2==0 else 'Odd' for num in range(11)]
lst

['Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even']

In [13]:
#Multiple else statements
l = [1,2,3,4,5,2,3,4,1,2,1]
new_list = ["Yes" if n==1 else 'no' if n ==2 else 'idle' for n in l]
new_list

['Yes', 'no', 'idle', 'idle', 'idle', 'no', 'idle', 'idle', 'Yes', 'no', 'Yes']

In [14]:
#Accept n > 4, 'Reject n < 2, 'Pending otherwise
x = [5, 2, 1, 4, 5, 2, 1, 3]
new_lst = ['Accept' if n > 4 else 'Reject' if n < 2 else 'Pending' for n in x]
new_lst

['Accept',
 'Pending',
 'Reject',
 'Pending',
 'Accept',
 'Pending',
 'Reject',
 'Pending']

In [16]:
lst = [n**2 for n in [num**2 for num in range(11)]]
lst

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]