# Minahil Chaudhary
## Week 8 10/11/2022 - 10/18/2022
### Python functions - User or custom

*** Python function format***
<<code>def function_name(args):
    '''
    docstring {document String} - Thios is where you describe the function
    '''
    #statement (s) <code/>

In [3]:
def fun_welcome():
    '''
    This function welcomes students in CIS310, without the student name
    '''
    print('Welcome to CIS310!')

In [4]:
fun_welcome()

Welcome to CIS310!

In [8]:
def fun_greet(name):
    '''
    This function greets a person name passed as parameter
    '''
    print(f'Welcome to CIS310, {name}')

In [9]:
fun_greet('Minahil')

Welcome to CIS310, Minahil

In [10]:
print(fun_greet.__doc__)

    This function greets a person name passed as parameter

In [11]:
def sum_two_numbers(n1, n2):
    print(n1+n2)

In [13]:
sum_two_numbers(5,10)

15

In [14]:
sum_two_numbers('word1', 'word2')

word1word2

In [15]:
sum_two_numbers(2.2, 2.5)

4.7

In [16]:
#Using return
def sum_two_numbers_with_return(n1, n2):
    return(n1+n2)

In [20]:
def sum_with_return(n1, n2):
    return (n1+n2)

In [21]:
x , y = 5,10
s = sum_with_return(x, y)
print (f'The sum of x {x} and {y} is {s}')

The sum of x 5 and 10 is 15

In [24]:
def avg_nums(v1, v2, v3):
    avg = (v1 + v2 + v3) / 3
    return avg

In [27]:
average = avg_nums(15, 10, 20)
print(f'The average of 15, 10, 20 is {avg_nums(15, 10, 20)}')

The average of 15, 10, 20 is 15.0

In [36]:
#Find if a number is a prime number 
def is_prime(num):
    '''
    This function checks if a number is prime, it returns str
    '''
    for n in range (2, num):
        if num % n == 0:
            return str (num) + ' Is not Prime'
        
    return str (num) + ' Is Prime'

In [37]:
is_prime(16)

'16 Is not Prime'

In [38]:
is_prime(13)

'13 Is Prime'

In [39]:
is_prime(5)

'5 Is Prime'

In [40]:
is_prime(6)

'6 Is not Prime'

In [43]:
#Check if two word string starets with the same letter
s = 'Java Program'
lst = s.split()

In [44]:
lst[0][0]

'J'

In [45]:
lst[1][0]

'P'

In [46]:
lst[0][0] == lst [1][0]

False

In [59]:
def two_words_letters(txt):
    wlst = txt.split()
    return wlst[0][0] == wlst[1][0]

In [60]:
two_words_letters('Python Program')

True

In [61]:
two_words_letters('Java Program')

False

In [62]:
#Reverse a statement
str1 = 'I am Home'
def rv_str(txt):
    lst = txt.split()

In [63]:
str1

'I am Home'

In [65]:
def rv_str(txt):
    wlst = txt.split()
    wlst.reverse()
    return ' '.join(wlst)

In [66]:
rv_str('I am home')

'home am I'

In [67]:
#Check is a list has number 5 next tto number 5 somwehere in the list 
#[3,4,5,10] -> True
#[3,4,5,6,5,8] -> false



lst = [3,4,5,5,10]
len(lst)

5

In [68]:
for i in range (len(lst)):
    print(i)

0
1
2
3
4

In [76]:
def has_55(lst):
    for i in range (len(lst)-1):
        #if lst[i] == 5 and lst [i + 1] == 5:
        #slicing gto make it simpler
        if lst [i:i+2] == [5,5]:
            return True
        
        
        
    return False

In [77]:
has_55([3,4,5,6,5,8])

False

In [78]:
#check code 001 in a list
# [1,4,5,0,0,1] -> True
#[1,0,2,5,0,6,8] -> True
#[1,5,6,0,6,7,8,0] -> False

def check_code(lst):
    code = [0,0,1,'s']
    for n in lst:
        if n == code[0]:
            code.pop(0) #Remove the number at index 0
            
    return len(code) == 1

In [81]:
check_code([1,4,5,0,0,1,8])

True

In [82]:
check_code([1,0,2,5,0,6,1,8])

True

In [83]:
check_code([1,5,6,8,7,8,0])

False

In [1]:
#Number of arguments *
# If the number of arguments is unknown, add a * before the parameter name
def full_name(fname, lname):
    print(fname + ' ' + lname)

In [2]:
full_name('Minahil', 'Chaudhary')

Minahil Chaudhary

In [17]:
def full_name (*name):
    if (len(name) == 1):
        print (name [0])
    else:
        print(name[0] + ' ' + name [1])

In [18]:
full_name('Minahil')

Minahil

In [19]:
full_name('Minahil', 'Chaudhary')

Minahil Chaudhary

In [20]:
  #Default parameter Value
def my_country(name = 'USA'):
    print(f"I am from {name}")
        
        
        
        
my_country("Italy")
my_country("Pakistan")
my_country()
my_country("Brazil")

I am from Italy
I am from Pakistan
I am from USA
I am from Brazil

In [21]:
def my_kids(child1, child2, child3):
    print(f"my first child is {child1}, my second child {child2}, my third child {child3}")

In [22]:
my_kids("emily", "Jon", "Alice")

my first child is emily, my second child Jon, my third child Alice

In [23]:
my_kids("Jon", "Emily", "Alice")

my first child is Jon, my second child Emily, my third child Alice

In [24]:
my_kids(child1 = "Jon", child2 = "Emily", child3 = "Alice")

my first child is Jon, my second child Emily, my third child Alice

In [33]:
#Arbritary Keyword Arguments **kwoprds
def my_name(**name):
    if 'lname' in name and 'fname' in name:
        print(f"My full name {name['lname']}, {name['fname']}")
    elif ('lname' in name):
        print(f"My last name {name['lname']}")
    elif ('fname' in name):
        print (f"My first name {name['fname']}")
    else:
        print('No parameter values?')
my_name(fname = "Tobias", lname = "Refsnes")

My full name Refsnes, Tobias

In [34]:
my_name(fname = "Tobias")

My first name Tobias

In [35]:
my_name()

No parameter values?

In [36]:
my_name(lname = "Refsnes")

My last name Refsnes

In [40]:
def my_fruit(**food):
    if 'fruit' in food:
        print("My favorite fruit is {}".format(food['fruit']))
    else:
        print("You dont have fruits")

In [41]:
my_fruit(fruit = 'Apple')

My favorite fruit is Apple

In [46]:
def my_dinner(*food, **fruits):
    if 'fruit' and 'juice' in fruits:
        print(f"I like to have {' and '.join(food)}, and my favorite fruit is {fruits['fruit']}")
        print(f"I also like to have some {fruits['juice']} juice after dinner")
    else:
        print("Thank you, I do not want anything, I am good")

In [47]:
my_dinner('eggs', 'milk', fruit = 'Cherry', juice = 'cherry')

I like to have eggs and milk, and my favorite fruit is Cherry
I also like to have some cherry juice after dinner

In [48]:
my_dinner('eggs', 'milk', fruit = 'Cherry')

Thank you, I do not want anything, I am good

In [49]:
#Using function in list comprehensions
txns = [1.09, 23.56, 57.84, 4.56, 6.78]
TAX_RATE = .68
final_price = [round(v * 1 +TAX_RATE, 2) for v in txns]
print(final_price)

[1.77, 24.24, 58.52, 5.24, 7.46]

In [50]:
def get_price_with_tax(price):
    return round (price * (1 + TAX_RATE), 2)

In [51]:
final_price = [get_price_with_tax(v) for v in txns]
final_price

[1.83, 39.58, 97.17, 7.66, 11.39]

In [52]:
#Python Map Function
'''
Aply a transformation to each item in an iterable
Transform them into a new iterable, without using an explicit loop
Format

'''


final_price = map(get_price_with_tax, txns)
final_price

In [53]:
list(final_price)

[1.83, 39.58, 97.17, 7.66, 11.39]