# Minahil Chaudhary
## Week 8 10/11/2022
### Python functions - User or custom

*** Python function format***
<<code>def function_name(args):
    '''
    docstring {document String} - Thios is where you describe the function
    '''
    #statement (s) <code/>

In [3]:
def fun_welcome():
    '''
    This function welcomes students in CIS310, without the student name
    '''
    print('Welcome to CIS310!')

In [4]:
fun_welcome()

Welcome to CIS310!

In [8]:
def fun_greet(name):
    '''
    This function greets a person name passed as parameter
    '''
    print(f'Welcome to CIS310, {name}')

In [9]:
fun_greet('Minahil')

Welcome to CIS310, Minahil

In [10]:
print(fun_greet.__doc__)

    This function greets a person name passed as parameter

In [11]:
def sum_two_numbers(n1, n2):
    print(n1+n2)

In [13]:
sum_two_numbers(5,10)

15

In [14]:
sum_two_numbers('word1', 'word2')

word1word2

In [15]:
sum_two_numbers(2.2, 2.5)

4.7

In [16]:
#Using return
def sum_two_numbers_with_return(n1, n2):
    return(n1+n2)

In [20]:
def sum_with_return(n1, n2):
    return (n1+n2)

In [21]:
x , y = 5,10
s = sum_with_return(x, y)
print (f'The sum of x {x} and {y} is {s}')

The sum of x 5 and 10 is 15

In [24]:
def avg_nums(v1, v2, v3):
    avg = (v1 + v2 + v3) / 3
    return avg

In [27]:
average = avg_nums(15, 10, 20)
print(f'The average of 15, 10, 20 is {avg_nums(15, 10, 20)}')

The average of 15, 10, 20 is 15.0

In [36]:
#Find if a number is a prime number 
def is_prime(num):
    '''
    This function checks if a number is prime, it returns str
    '''
    for n in range (2, num):
        if num % n == 0:
            return str (num) + ' Is not Prime'
        
    return str (num) + ' Is Prime'

In [37]:
is_prime(16)

'16 Is not Prime'

In [38]:
is_prime(13)

'13 Is Prime'

In [39]:
is_prime(5)

'5 Is Prime'

In [40]:
is_prime(6)

'6 Is not Prime'

In [43]:
#Check if two word string starets with the same letter
s = 'Java Program'
lst = s.split()

In [44]:
lst[0][0]

'J'

In [45]:
lst[1][0]

'P'

In [46]:
lst[0][0] == lst [1][0]

False

In [47]:
def two_words_letters(txt):
    wlst = txt.split()
    return wlst[0][0] == wlst[1][0]

In [48]:
two_words_letters('Python Program')

True

In [49]:
two_words_letters('Java Program')

False

In [56]:
#Reverse a statement
str1 = 'I am Home'
def rv_str(txt):
    lst = txt.split()