# Minahil Chaudhary
## Week 12 11/10/2022

### Python - Pandas Series and DataFrame

In [1]:
'''
Pandas has functions for analyzing, cleaning, exploring, and manipulating data

'''

'\nPandas has functions for analyzing, cleaning, exploring, and manipulating data\n\n'

In [2]:
import numpy as np

from pandas import Series, DataFrame
import pandas as pd

In [3]:
mydataset = {
    'cars': ["GMC", "Toyota", "Ford"],
    'seats': [8,7,5]
    
}

df = DataFrame(mydataset)
df

     cars  seats
0     GMC      8
1  Toyota      7
2    Ford      5

In [7]:
pd.__version__

'1.0.5'

In [8]:
# Panda series
# A pandas series is just like a column in a table
# It is a one dimensional array holding data of any type
s = Series([2,3,5,8,7,-3])
s

0    2
1    3
2    5
3    8
4    7
5   -3
dtype: int64

In [9]:
s.dtype

dtype('int64')

In [10]:
s.values

array([ 2,  3,  5,  8,  7, -3], dtype=int64)

In [11]:
s.index

RangeIndex(start=0, stop=6, step=1)

In [12]:
s[1]

3

In [15]:
# Creating series from numpy array and assign labels
s = Series([10,20,20,40], index = ["w", "x", "y", "z"])
s

w    10
x    20
y    20
z    40
dtype: int64

In [17]:
summer_olympic = Series([2520, 1122,937,847,713], ['USA', 'Russia', 'Germany', 'UK', 'France'])
summer_olympic

USA        2520
Russia     1122
Germany     937
UK          847
France      713
dtype: int64

In [18]:
summer_olympic['USA']

2520

In [19]:
summer_olympic['Germany']

937