# Minahil Chaudhary
## Week4 - 09/15/2022
### Python Tuples: (), tuple()

- Tuple is a collection that is ordered and unchangeable.

- Ordered - Items have a defines order
- Unchangeable - Cannot change, add or remove items after the tuple is created

In [1]:
#create a new tuple
t = (2018, 2020, 2019, 2022, 2021, 'June', 'Oct', True, False)

In [2]:
t

(2018, 2020, 2019, 2022, 2021, 'June', 'Oct', True, False)

In [3]:
len(t)

9

In [4]:
t[1]

2020

In [5]:
t[-1]

False

In [6]:
t[1:4]

(2020, 2019, 2022)

In [7]:
l = list(t)

In [8]:
l[1] = 2017

In [9]:
l

[2018, 2017, 2019, 2022, 2021, 'June', 'Oct', True, False]

In [10]:
t

(2018, 2020, 2019, 2022, 2021, 'June', 'Oct', True, False)

In [11]:
t2 = t

In [12]:
t2

(2018, 2020, 2019, 2022, 2021, 'June', 'Oct', True, False)

In [13]:
t.count

In [14]:
t1 = (1,2,3,4,5,6,2,3,4,5,)

In [15]:
t1.count(2)

2