# Minahil Chaudhary
## wk6 09/27/2022
### Python for loops

** General for loop format:**

<<code> for item in object:
    statements to do work </code>

In [1]:
sc = {68, 87, 98, 89, 77, 65}

In [2]:
sc

{65, 68, 77, 87, 89, 98}

In [3]:
for n in sc:
    print(n)

65
98
68
77
87
89

In [4]:
for n in sc:
    if n% 2 == 0:
        print(n)

98
68

In [15]:
sum(sc)

484

In [11]:
len(sc)

6

In [12]:
range(len(sc))

range(0, 6)

In [13]:
list(range(0,9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [14]:
sc

{65, 68, 77, 87, 89, 98}

In [17]:
for n in sc:
    if n% 2 == 0:
        print(n)
    else:
            print('These are the odd numbers!')

These are the odd numbers!
98
68
These are the odd numbers!
These are the odd numbers!
These are the odd numbers!

In [18]:
sum = 0
for n in sc:
    sum+= n
    
print(sum)

484

In [19]:
sum = 0
for n in sc:
    sum+= n
    
print(sum/len(sc))

80.66666666666667

In [20]:
len(sc)/2

3.0

In [23]:
int(len(sc)/2)

3

In [27]:
range(int(len(sc)/2))

range(0, 3)

In [31]:
sc

{65, 68, 77, 87, 89, 98}

In [32]:
t = (5, 16, 8, 9, 10, 2, 11)

In [33]:
t

(5, 16, 8, 9, 10, 2, 11)

In [34]:
for n in t:
    print(n)

5
16
8
9
10
2
11

In [37]:
lst = [1, 3, 5, 6, 7, 8, 9]
lst2 = [10, 30, 50, 60, 80, 90]
zipped_lst = zip(lst, lst2)
lst= list(zipped_lst)

In [38]:
lst

[(1, 10), (3, 30), (5, 50), (6, 60), (7, 80), (8, 90)]