# Minahil Chaudhary
## Week 10 - 10/25/2022
### Python - lambda and higher order function such as map() filter() and reduce()
### A lamba function can take any number of arguments but can only have onbe expression
### lambda arguments: expression

In [1]:
def double_fun(num):
    return num * 2

print (double_fun(3))

6

In [2]:
'''
lambda arguments: expression

'''

double = lambda x:x*2
print(double(3))

6

In [3]:
# find larger number using lambda function

larger = lambda a,b: a if a > b else b
print(larger(5,8))

8

In [3]:
def square(x):
    return x**2

square(5)

25

In [4]:
nums = [1,2,3,4,5,6,7]

nums

[1, 2, 3, 4, 5, 6, 7]

In [5]:
map(square, nums)

In [6]:
list(map(square, nums))

[1, 4, 9, 16, 25, 36, 49]

In [7]:
tuple(map(square,nums))

(1, 4, 9, 16, 25, 36, 49)

In [8]:
list(map(lambda x:x**2, nums))

[1, 4, 9, 16, 25, 36, 49]

In [10]:
words = ["Ford", "Nissan", "GMC", "Mazda", "Dodge", "BMW"]
list(map(lambda w:w[0], words))

['F', 'N', 'G', 'M', 'D', 'B']

In [11]:
tuple(map(lambda w:w[::-1], words))

('droF', 'nassiN', 'CMG', 'adzaM', 'egdoD', 'WMB')

In [12]:
def even(num):
    return num%2 == 0

even (5)

False

In [13]:
even(16)

True

In [14]:
nums

[1, 2, 3, 4, 5, 6, 7]

In [15]:
filter(even, nums)

In [16]:
list( filter (lambda e: e%2==0, nums))

[2, 4, 6]

In [4]:
letters = ['a', 'b', 'c', 'd', 'e', 'i', 'j', 'o']
def filter_vowels(letter):
    vowels = ['a', 'e', 'i', 'o', 'u']
    return letter in vowels

filter_vowels('a')

True

In [5]:
filter_vowels('c')

False

In [6]:
filter_vowels('y')

False

In [7]:
filter_vowels('letters')

False

In [8]:
list(filter(filter_vowels, letters))

['a', 'e', 'i', 'o']

In [9]:
set(filter(filter_vowels, letters))

{'a', 'e', 'i', 'o'}

In [18]:
L = [1, 2, 3, 4, 5, 6]
doubler = map(lambda x: x*2, L)
print(list(doubler))

[2, 4, 6, 8, 10, 12]

In [19]:
tuple(filter(filter_vowels, letters))

('a', 'e', 'i', 'o')

In [21]:
list(filter(lambda l:1 in ['a', 'e', 'i', 'o', 'u'], letters ))

[]

In [22]:
list(map(lambda l:1 in ['a', 'e', 'i', 'o', 'u'], letters ))

[False, False, False, False, False, False, False, False]

In [28]:
letters_vowels = []

def filter_vowels(lst_letters):
    for l in lst_letters:
        if l in ['a', 'e', 'i', 'o', 'u']:
            letters_vowels.append(1)
            
filter_vowels(letters)

In [29]:
filter_vowels(letters)

In [31]:
letters_vowels

[1, 1, 1, 1, 1, 1, 1, 1]

In [32]:
import functools
from functools import reduce

In [33]:
'''
Reduce Function
reduce (function, interable, initializer)
The reduce fubction can take in 3 arguments 

'''

'\nReduce Function\nreduce (function, interable, initializer)\nThe reduce fubction can take in 3 arguments \n\n'

In [34]:
num_list = [1,2,3,4,5,6,7,8,9,10]

def prod (x, y):
    return x*y

product = reduce(lambda x,y:x*y, num_list,0)
print(product)

0

In [35]:
product = reduce(prod, num_list)

In [36]:
print(product)

3628800

In [37]:
product = reduce(lambda x,y:x*y, num_list,2)
print(product)

7257600

In [38]:
product = reduce(lambda x,y:x*y, num_list,3)
print(product)

10886400

In [39]:
nums = [1,2,3,4,5]
square_sum = reduce(lambda x,y:(x**2) + (y**2), nums)
square_sum

1373609

In [40]:
# we can find the max number in a list
maximum = reduce(lambda x,y: x if x > y else y, nums)

maximum

5