# Minahil Chaudhary
## wk6 09/27/2022
### Python for loops

** General for loop format:**

<<code> for item in object:
    statements to do work </code>

In [1]:
sc = {68, 87, 98, 89, 77, 65}

In [2]:
sc

{65, 68, 77, 87, 89, 98}

In [3]:
for n in sc:
    print(n)

65
98
68
77
87
89

In [4]:
for n in sc:
    if n% 2 == 0:
        print(n)

98
68

In [15]:
sum(sc)

484

In [11]:
len(sc)

6

In [12]:
range(len(sc))

range(0, 6)

In [13]:
list(range(0,9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [14]:
sc

{65, 68, 77, 87, 89, 98}

In [17]:
for n in sc:
    if n% 2 == 0:
        print(n)
    else:
            print('These are the odd numbers!')

These are the odd numbers!
98
68
These are the odd numbers!
These are the odd numbers!
These are the odd numbers!

In [18]:
sum = 0
for n in sc:
    sum+= n
    
print(sum)

484

In [19]:
sum = 0
for n in sc:
    sum+= n
    
print(sum/len(sc))

80.66666666666667

In [20]:
len(sc)/2

3.0

In [23]:
int(len(sc)/2)

3

In [27]:
range(int(len(sc)/2))

range(0, 3)

In [31]:
sc

{65, 68, 77, 87, 89, 98}

In [32]:
t = (5, 16, 8, 9, 10, 2, 11)

In [33]:
t

(5, 16, 8, 9, 10, 2, 11)

In [34]:
for n in t:
    print(n)

5
16
8
9
10
2
11

In [37]:
lst = [1, 3, 5, 6, 7, 8, 9]
lst2 = [10, 30, 50, 60, 80, 90]
zipped_lst = zip(lst, lst2)
lst= list(zipped_lst)

In [38]:
lst

[(1, 10), (3, 30), (5, 50), (6, 60), (7, 80), (8, 90)]

In [39]:
lst2

[10, 30, 50, 60, 80, 90]

In [40]:
for z in lst:
    print(z)

(1, 10)
(3, 30)
(5, 50)
(6, 60)
(7, 80)
(8, 90)

In [41]:
for (t1, t2) in lst:
    print(t1)

1
3
5
6
7
8

In [42]:
for (t1, t2) in lst:
    print(t2)

10
30
50
60
80
90

In [43]:
d = {"brand": "Ford", "model": "Mustang", "year": 1964}

In [44]:
d

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [45]:
d.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [46]:
for item in d:
    print(d[item])

Ford
Mustang
1964

In [47]:
for k,v in d.items():
    print(k,v)

brand Ford
model Mustang
year 1964

In [48]:
for v in d.values():
    print(v)

Ford
Mustang
1964

In [49]:
for item in d.items():
    print(item)

('brand', 'Ford')
('model', 'Mustang')
('year', 1964)

In [50]:
s = {2,4,5,6,7,8,9}
s

{2, 4, 5, 6, 7, 8, 9}

In [51]:
for item in s:
    print(item)

2
4
5
6
7
8
9

In [1]:
# Break and Continue
fruits = ['Apple', 'Orange', 'Grape', 'Banana', 'Cherry']

for f in fruits:
    print(f)

Apple
Orange
Grape
Banana
Cherry

In [4]:
for f in fruits:
    if f == 'Banana':
        break
    else:
        print(f)

Apple
Orange
Grape

In [5]:
for f in fruits:
    if f == 'Banana':
        continue
    else:
        print(f)

Apple
Orange
Grape
Cherry

In [6]:
fruits

['Apple', 'Orange', 'Grape', 'Banana', 'Cherry']

In [7]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [8]:
for n in range(6):
    print(n)

0
1
2
3
4
5

In [9]:
for n in range(2,6):
    print(n)

2
3
4
5

In [10]:
for n in range(1, 31, 3):
    print(n)

1
4
7
10
13
16
19
22
25
28

In [11]:
for n in range(1, 31, 3):
    print(n)
else:
    print('Finish Printing!')

1
4
7
10
13
16
19
22
25
28
Finish Printing!

In [13]:
for n in range(1, 31, 3):
    print(n)
    
print('Finish Printing!')

1
4
7
10
13
16
19
22
25
28
Finish Printing!

In [15]:
#nested for loop
adj = ['red', 'small', 'large', 'tasty', 'sweet']
fruits = ['Apple', 'Grape', 'Orange', 'Cherry']

for a in adj:
    print (a)

red
small
large
tasty
sweet

In [17]:
for a in adj:
    for f in fruits:
        print(a,f)

red Apple
red Grape
red Orange
red Cherry
small Apple
small Grape
small Orange
small Cherry
large Apple
large Grape
large Orange
large Cherry
tasty Apple
tasty Grape
tasty Orange
tasty Cherry
sweet Apple
sweet Grape
sweet Orange
sweet Cherry

In [20]:
#nested for loop
adj = ['red', 'small', 'large', 'tasty', 'sweet']
fruits = ['Apple', 'Grape', 'Orange', 'Cherry']

for a in adj:
    for f in fruits:
        if a == 'red' and f == 'Banana':
            continue
        else:
            print(a,f)

red Apple
red Grape
red Orange
red Cherry
small Apple
small Grape
small Orange
small Cherry
large Apple
large Grape
large Orange
large Cherry
tasty Apple
tasty Grape
tasty Orange
tasty Cherry
sweet Apple
sweet Grape
sweet Orange
sweet Cherry

In [23]:
lst = []

for a in adj:
    for f in fruits:
        if a == 'red' and f == 'Banana':
            continue
        else:
            print(a,f)
            lst.append((a,f))

red Apple
red Grape
red Orange
red Cherry
small Apple
small Grape
small Orange
small Cherry
large Apple
large Grape
large Orange
large Cherry
tasty Apple
tasty Grape
tasty Orange
tasty Cherry
sweet Apple
sweet Grape
sweet Orange
sweet Cherry

In [24]:
lst

[('red', 'Apple'),
 ('red', 'Grape'),
 ('red', 'Orange'),
 ('red', 'Cherry'),
 ('small', 'Apple'),
 ('small', 'Grape'),
 ('small', 'Orange'),
 ('small', 'Cherry'),
 ('large', 'Apple'),
 ('large', 'Grape'),
 ('large', 'Orange'),
 ('large', 'Cherry'),
 ('tasty', 'Apple'),
 ('tasty', 'Grape'),
 ('tasty', 'Orange'),
 ('tasty', 'Cherry'),
 ('sweet', 'Apple'),
 ('sweet', 'Grape'),
 ('sweet', 'Orange'),
 ('sweet', 'Cherry')]

In [25]:
#How to loop with index in Python
#We do list and tuples with index
colors = ['red', 'green', 'blue', 'purple']

for c in colors:
    print(c)

red
green
blue
purple

In [26]:
i = 0

for c in colors:
    print(i,c)
    i = i + 1

0 red
1 green
2 blue
3 purple

In [27]:
range(4)

range(0, 4)

In [28]:
range(len(colors))

range(0, 4)

In [29]:
for i in range(len(colors)):
    print(i,colors[i])

0 red
1 green
2 blue
3 purple

In [32]:
for i in range(len(colors)):
    print(f"Color at index {i} in list colors is {colors[i]}")

Color at index 0 in list colors is red
Color at index 1 in list colors is green
Color at index 2 in list colors is blue
Color at index 3 in list colors is purple

In [35]:
names = ['Washington', 'Adams', 'Jefferson', 'Madison', 'Monroe', 'Adams', 'Jackson']

for idx, value in enumerate(names):
    print(f'President {idx} is {value}')

President 0 is Washington
President 1 is Adams
President 2 is Jefferson
President 3 is Madison
President 4 is Monroe
President 5 is Adams
President 6 is Jackson

In [36]:
for idx, value in enumerate(names, start = 1):
    print(f'President {idx} is {value}')

President 1 is Washington
President 2 is Adams
President 3 is Jefferson
President 4 is Madison
President 5 is Monroe
President 6 is Adams
President 7 is Jackson